# Private key for deployment - NEVER commit your actual private key
PRIVATE_KEY=

# RPC URLs
POLYGON_RPC_URL=https://polygon-rpc.com
POLYGON_MUMBAI_RPC_URL=https://rpc-mumbai.maticvigil.com

# Etherscan API Key for verification
POLYGONSCAN_API_KEY=

# Deploy options
DEPLOYER_ADDRESS=
GAS_PRICE= 